<div class="row">
	<div class="large-12 columns">
		<h1 class="pageheader content">DASHBOARD</h1>
	</div>
</div>

<div class="row content padding2v">
	<div class="large-7 columns content row1">
		<div class="welcomebox padding3v content">
		<h3><span class="weight100">Welcome to your dashboard,</span><br><span class="weight600">Diamond Logistics Devon</span></h3>
		</div>
	</div>
	<div class="large-5 columns content row1">
		<div class="gradientradiusbox padding3v content padding3v row1">
		<p class="white">graph here</p>
		</div>
	</div>
</div>

<script type="text/javascript">
    (function() {
        $(function() {

          $(function() {
            $('.row1').matchHeight();
          });
          
        });
    })();
</script>


<!--<a href="<%= admins_newwebsite_path %>">Create new website</a> -->