<!DOCTYPE html>
<html>
<head>
  <title>Microsites</title>
  <%= stylesheet_link_tag controller_name %>
  <%= javascript_include_tag controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>


		<%= yield %>

</body>
</html>
